<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Bhojan | Premium tiffin delivery services</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
<!--

Template 2076 Zentro

http://www.tooplate.com/view/2076-zentro

-->
	<!-- <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/nivo-lightbox.css">
	<link rel="stylesheet" href="css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/font-awesome.min.css">
	<link rel="stylesheet" href="/static/nivo-lightbox.css">
	<link rel="stylesheet" href="/static/nivo_themes/default/default.css">
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<!-- preloader section -->
<section class="preloader">
	<div class="sk-spinner sk-spinner-pulse"></div>
</section>

<!-- navigation section -->
<section class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#home" class="navbar-brand">BHOJAN<br></a>
            <p>THE TASTE BOX</p>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="smoothScroll">HOME</a></li>
				<li><a href="#gallery" class="smoothScroll">FOOD GALLERY</a></li>
				<li><a href="#whybhojan" class="smoothScroll">WHY BHOJAN?</a></li>
				<li><a href="#team" class="smoothScroll">THE TASTE BOX</a></li>
				<li><a href="#contact" class="smoothScroll">CONTACT</a></li>
			</ul>
		</div>
	</div>
</section>


<!-- home section -->
<section id="home" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1>BHOJAN</h1>
				<h1>THE TASTE BOX</h1>
				<a href="#gallery" class="smoothScroll btn btn-default">EXPLORE BHOJAN</a>
			</div>
		</div>
	</div>		
</section>


<!-- gallery section -->
<section id="gallery" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1 class="heading">Food Gallery</h1>
				<hr>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
				<a href="images/gallery-img1.jpg" data-lightbox-gallery="zenda-gallery"><img src="{{url_for('static', filename='gallery-img1.jpg')}}" alt="gallery img"></a>
				<div>
					<h3>Lemon-Rosemary Prawn</h3>
					<span>Seafood / Shrimp / Lemon</span>
				</div>
				<a href="images/gallery-img2.jpg" data-lightbox-gallery="zenda-gallery"><img src="{{url_for('static', filename='gallery-img2.jpg')}}" alt="gallery img"></a>
				<div>
					<h3>Lemon-Rosemary Vegetables</h3>
					<span>Tomato / Rosemary / Lemon</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<a href="images/gallery-img3.jpg" data-lightbox-gallery="zenda-gallery"><img src="{{url_for('static', filename='gallery-img3.jpg')}}" alt="gallery img"></a>
				<div>
					<h3>Lemon-Rosemary Bakery</h3>
					<span>Bread / Rosemary / Orange</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
				<a href="images/gallery-img4.jpg" data-lightbox-gallery="zenda-gallery"><img src="{{url_for('static', filename='gallery-img4.jpg')}}" alt="gallery img"></a>
				<div>
					<h3>Lemon-Rosemary Salad</h3>
					<span>Chicken / Rosemary / Green</span>
				</div>
				<a href="images/gallery-img5.jpg" data-lightbox-gallery="zenda-gallery"><img src="{{url_for('static', filename='gallery-img5.jpg')}}" alt="gallery img"></a>
				<div>
					<h3>Lemon-Rosemary Pizza</h3>
					<span>Pasta / Rosemary / Green</span>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Why bhojan section -->
<section id="whybhojan" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1 class="heading">Why Bhojan?</h1>
				<hr>
			</div>
		  <div class="col-md-6 col-sm-6">
				<h4><span class="fa fa-home"><p>                 
				  <p>Home-made                  			  </h4></p>
				<h5>Because <em>maa ke haath ka khaana</em> is never too mainstream!</h5>
			</div>
		  <div class="col-md-6 col-sm-6">
				<h4><span class="fa fa-clock-o"><p>                 
				  <p>Timely Delivery                  			  </h4></p>
				<h5>Because waiting for food is a torture.</h5>
			</div>
		  <div class="col-md-6 col-sm-6">
				<h4><span class="fa fa-check-square-o"><p>                 
				  <p>Quality Checks                  			  </h4></p>
				<h5>Because quality = priority.</h5>
			</div>
		  <div class="col-md-6 col-sm-6">
				<h4><span class="fa fa-group"><p>                 
				  <p>Customized Orders                  			  </h4></p>
				<h5>Because Bhojan is not for all of you. It is for each of you.</h5>
			
		</div>
	</div>
</section>		


<!-- The tastebox section -->
<section id="team" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1 class="heading">Meet The Taste Box</h1>
				<hr>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<img src="{{url_for('static', filename='team1.jpg')}}" class="img-responsive center-block" alt="team img">
				<h4>Shuddh Desi Shaak</h4>
				<h3>Main Sabzi</h3>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<img src="{{url_for('static', filename='team2.jpg')}}" class="img-responsive center-block" alt="team img">
				<h4>Basmati</h4>
				<h3>Daal Chaawal</h3>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<img src="{{url_for('static', filename='team3.jpg')}}" class="img-responsive center-block" alt="team img">
				<h4>Jenny Ko</h4>
				<h3>New Baker</h3>
			</div>
		</div>
	</div>
</section>


<!-- contact section -->
<section id="contact" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10 col-sm-12 text-center">
				<h1 class="heading">Contact Us</h1>
				<hr>
			</div>
			<div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeIn" data-wow-delay="0.2s">
				<form action="#" method="post">
					<div class="col-md-6 col-sm-6">
						<input name="fname" type="text" class="form-control" id="name" placeholder="First Name">
				  </div>
                  <div class="col-md-6 col-sm-6">
						<input name="lname" type="text" class="form-control" id="name" placeholder="Last Name">
				  </div>
					<div class="col-md-6 col-sm-6">
						<input name="email" type="email" class="form-control" id="email" placeholder="E-mail">
				  </div>
                  <div class="col-md-6 col-sm-6">
						<input name="delivery" type="text" class="form-control" id="email" placeholder="Delivery at office or home?">
				  </div>
                   <div class="col-md-6 col-sm-6">
						<input name="flat" type="text" class="form-control" id="name" placeholder="Flat or House name">
				  </div>
				   <div class="col-md-6 col-sm-6">
						<input name="society" type="text" class="form-control" id="name" placeholder="Society name with Street">
				  </div>

				   <div class="col-md-6 col-sm-6">
						<input name="landmark" type="text" class="form-control" id="name" placeholder="Landmark">
				  </div>

				   <div class="col-md-6 col-sm-6">
						<input name="pincode" type="number" class="form-control" id="name" placeholder="PinCode">
				  </div>

				   <div class="col-md-6 col-sm-6">
						<input name="mobileNo" type="number" class="form-control" id="name" placeholder="Mobile Number">
				  </div>



					<div class="col-md-12 col-sm-12">
						<textarea name="message" rows="8" class="form-control" id="message" placeholder="Message"></textarea>
					</div>
					<div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
						<input name="submit" type="submit" class="form-control" id="submit" value="PLACE AN ORDER">
					</div>
				</form>
			</div>
			<div class="col-md-2 col-sm-1"></div>
		</div>
	</div>
</section>



<!-- footer section -->
<footer class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<h2 class="heading">Contact Bhojan</h2>
				<div class="ph">
					<p><i class="fa fa-phone"></i>Phone</p>
					<h4>+91 9737 444 73</h4>
				</div>
				<div class="address">
					<p><i class="fa fa-map-marker"></i>Our Location</p>
					<h4>Home sweet home!</h4>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<h2 class="heading">Serving now:</h2>
					<p>Lunch<span>Monday to Saturday. Order has to be placed before 10:00AM. The earlier you are the better we are able to serve you.</span></p>
					<p>Dinner<span>Dinner services coming soon.</span></p>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<h2 class="heading">Follow Us</h2>
				<ul class="social-icon">
					<li><a href="#" class="fa fa-facebook wow bounceIn" data-wow-delay="0.2s"></a></li>
					<li><a href="#" class="fa fa-twitter wow bounceIn" data-wow-delay="0.2s"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>


<!-- copyright section -->
<section id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>BHOJAN</h3>
				<p>Copyright © Bhojan Services Ltd.</p>
			</div>
		</div>
	</div>
</section>

<!-- JAVASCRIPT JS FILES -->	
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.parallax.js"></script>
<script src="/static/js/smoothscroll.js"></script>
<script src="/static/js/nivo-lightbox.min.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/custom.js"></script>
<script src="https://use.fontawesome.com/eb870cce25.js"></script>

</body>
</html>